
    <h1>Get Person Details</h1>

    <input type="text" id="name_input" placeholder="name"/>
    <input type="number" id="name_id" readonly="true" placeholder="id"/>
    <input type="submit" value="Search" id="submit_btn"/>
    <input type="button" value="Get Details" id="get_details_btn"/>

    <div id="department_data">
    </div>