$("#department_data").empty()
$("#department_data").append("<p>Department ID: <%= @department.id%></p>")
$("#department_data").append("<p>Name: <%= @department.name%></p>")
$("#department_data").append("<p>HOD ID: <%= @department.hod_id%></p>")
