
    <h1>Search Partial</h1>

    <%= form_tag( departments_path, :method=> :get, :remote => true ) %>
    <%= text_field_tag :search_name, nil, placeholder: 'Search departments by name' %>
    <%= number_field_tag :search_hod_id, nil, placeholder: 'Search department by HOD ID' %>
    <%= submit_tag 'Search'%><br/>